<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Crusader Kings Story Generator" Language="1033" Version="1.0.0.0" Manufacturer="252afh" UpgradeCode="648e51cb-7a14-4307-9429-f592f7d9cdf7">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="Installer for Crusader Kings Story Generator" />

    <ComponentGroup Id="Licenses" Directory="LICENSES">
      <Component Id="LICENSE_txt">
        <File Id="LICENSE_txt" Name="LICENSE.TXT" KeyPath="yes" Source="Licenses\" />
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="CK2GenComponents" Directory="INSTALLDIR">
      <Component Id="EXE" Guid="07b88734-09c7-403a-be26-ae73cc195efb">
        <File Id="CrusaderKingsStoryGenExe" Name="CrusaderKingsStoryGen.exe" DiskId="1" Source="CrusaderKingsStoryGen.exe" KeyPath="yes">
          <Shortcut Id="CrusaderKingsStoryGenStartMenu" Directory="ProgramMenuFolder" Name="Crusader King Story Generator" Advertise="yes" />
        </File>
      </Component>
      <Component Id="EXEConfig" Guid="6310fe5b-009b-45aa-9406-8acf27ca3a42">
        <File Id="CrusaderKingsStoryGenExeConfig" Name="CrusaderKingsStoryGen.exe.config" DiskId="1" Source="CrusaderKingsStoryGen.exe.config" />
      </Component>
      <Component Id="EXEManifest" Guid="2e828918-d22c-4c43-8a54-6c74a45e3f42">
        <File Id="CrusaderKingsStoryGenExeManifest" Name="CrusaderKingsStoryGen.exe.manifest" DiskId="1" Source="CrusaderKingsStoryGen.exe.manifest" />
      </Component>
      <Component Id="ColorPickerDLL" Guid="938b55eb-3d3b-4208-8a94-83b5ac53dc11">
        <File Id="ColorPickerDLL" Name="Cyotek.Windows.Forms.ColorPicker.dll" DiskId="1" Source="Cyotek.Windows.Forms.ColorPicker.dll" />
      </Component>
      <Component Id="ColorPickerXML" Guid="1266685e-6424-419f-9dd6-c379f25e9f5a">
        <File Id="ColorPickerXML" Name="Cyotek.Windows.Forms.ColorPicker.xml" DiskId="1" Source="Cyotek.Windows.Forms.ColorPicker.xml" />
      </Component>
      <Component Id="DevILDLL" Guid="8749030e-c773-4f64-a5a6-1501a1a7d06f">
        <File Id="DevILDLL" Name="DevIL.dll" DiskId="1" Source="DevIL.dll" />
      </Component>
      <Component Id="DevILNET2DLL" Guid="aeca2e6b-932b-4683-b5ba-0643fafe7239">
        <File Id="DevILNET2DLL" Name="DevIL.NET2.dll" DiskId="1" Source="DevIL.NET2.dll" />
      </Component>
      <Component Id="ILUDLL" Guid="34bdd8de-44dc-498a-b15c-64b512d31a68">
        <File Id="ILUDLL" Name="ILU.dll" DiskId="1" Source="ILU.dll" />
      </Component>
      <Component Id="LibNoiseDLL" Guid="79c202e8-7505-489d-8b06-de83a5f449ef">
        <File Id="LibNoiseDLL" Name="LibNoise.dll" DiskId="1" Source="LibNoise.dll" />
      </Component>
    </ComponentGroup>

    <!-- Set properties visible in Programs and Features -->
    <Property Id="ARPURLINFOABOUT" Value="http://ck2generator.com/" />
    <Property Id="ARPHELPLINK" Value="http://ck2generator.com/" />
    <Property Id="ARPURLUPDATEINFO" Value="http://ck2generator.com/" />

    <MajorUpgrade Schedule="afterInstallInitialize" DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Ck2gen_cab.cab" EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Crusader Kings Story Generator" Level="1">
      <ComponentGroupRef Id="CK2GenComponents" />
      <ComponentGroupRef Id="Licenses" />
      <ComponentRef Id="CK2GenComponents" />
      <ComponentRef Id="LICENSES" />
      <ComponentRef Id="Registry_FriendlyName" />
      <ComponentRef Id="Registry_Description" />
      <ComponentRef Id="Registry_Manifest" />
      <ComponentRef Id="Registry_LoadBehavior" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="ProgramMenuFolder">
      <Directory Id="ApplicationProgramsFolder" Name="My Application Name"/>
    </Directory>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLDIR" Name="Crusader Kings Story Generator" >
          <Component Id="CK2GenComponents" KeyPath="yes" Guid="64303013-a1fd-42cc-a606-2d79e44e4aaa" Permanent="no" Transitive="no" Win64="no" Location="either"/>
          <Directory Id="LICENSES" Name="Licenses">
            <Component Id="LICENSES" Guid="bde9ca4d-8087-44c3-98af-b26250a5cb8e" KeyPath="yes" Permanent="no" Transitive="no" Win64="no" Location="either" />
          </Directory>
        </Directory>
        <Component Id="Registry_FriendlyName">
          <RegistryValue Id="RegKey_FriendlyName" Root="HKCU"
			                   Key="Software\CK2Gen\Crusader Kings Story Generator"
			                   Name="FriendlyName"
			                   Value="Crusader Kings Story Generator"
			                   Type="string" KeyPath="yes" />
        </Component>
        <Component Id="Registry_Description">
          <RegistryValue Id="RegKey_Description" Root="HKCU"
			                   Key="Software\CK2Gen\Crusader Kings Story Generator"
			                   Name="Description"
			                   Value="Crusader Kings Story Generator"
			                   Type="string" KeyPath="yes" />
        </Component>
        <Component Id="Registry_Manifest">
          <RegistryValue Id="RegKey_Manifest" Root="HKCU"
			                   Key="Software\CK2Gen\Crusader Kings Story Generator"
			                   Name="Manifest" Value="[Crusader Kings Story Generator]Crusader Kings Story Generator.vsto|vstolocal"
			                   Type="string" KeyPath="yes" />
        </Component>
        <Component Id="Registry_LoadBehavior">
          <RegistryValue Id="RegKey_LoadBehavior" Root="HKCU"
			                   Key="Software\CK2Gen\Crusader Kings Story Generator"
			                   Name="LoadBehavior" Value="3"
			                   Type="integer" KeyPath="yes" />
        </Component>
      </Directory>
    </Directory>
  </Fragment>
</Wix>
